@font-face {
    font-family:'vazir';
    src: url(../font/Vazir.ttf);
}

:root{
    --instagramPurple:#5e2d97;
    --telegramBlue:#2b9ed6;
    --twitterBlue:#0064a7;
    --soWhite:#ffffff;
    --white:#cfcfcf;
    --silver:#868686;
    --red:#c51e1e;
    --WhiteRed:#f34040;
    --orange:#ff9027;
    --yellow:#e9d200;
    --purple:#a46497;
    --gray:#1b1b1b;
    --NOTsoGray:#0e0e0eaf;
    --soGray:#0e0e0e;
    --black:#000000;
}

body{
    background-color:var(--gray);
    margin: auto;
    font-family: 'vazir' !important;
    direction: rtl;
    width: 100%;
    padding: 0;
}

::selection{
    background-color: #f34040;
    color: #000000;
}

header{
    display: block;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.headerTop{
    position: relative;
    display: block;
    background-color: var(--black);
    color:var(--purple);
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    padding: 8px 12px;
}

header .center-of-header{
    color: var(--black);
    display: block;
    padding: 8px 12px;
    background-color: var(--red);
    cursor: default;
}

header .center-of-header a{
    color: var(--black);
    font-weight: bold;
    padding: 4px 6px;
    margin-right: 7px;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

header .center-of-header a:hover{
    color: var(--white) !important;
    font-size: 13.2px;
}

header .parts-of-header{
    /* background-color: var(--white); */
    display: flex;
    position: relative;
    align-items: center;
    padding: 8px 10px;
    background-color: #000000d0;
    /* background-image: linear-gradient(var(--black)20%,#00000000); */
    border-bottom: 1px solid var(--red);
}

header .parts-of-header .header-logo{
    width: 180px;
    height: 40px;
    padding-right: 10px;
    display: inline-block;
    position: relative;
}

header .parts-of-header .list-a{
    display: block;
    /* padding: 10px 10px; */
    font-size: 12px;
    cursor: default;
    margin-left: auto;
}

header .parts-of-header .list-a a{
    padding: 5px 10px;
    color: var(--white);
    cursor: pointer;
    transition: 0.2s;
}

header .parts-of-header .list-a a:hover{
    color: var(--red);
}

header .parts-of-header .btn-poh{
    display: inline-block;
    cursor: default;
}

.btn-poh span{
    color: var(--white);
    font-size: 15px;
    margin-left: 12px;
    transition: 0.4s;
}

.btn-poh span:hover{
    color: var(--WhiteRed);
}

header .parts-of-header .btn-poh .log-in{
    background-color: var(--WhiteRed);
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 2px;
    color: var(--soWhite);
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
}

header .parts-of-header .btn-poh .log-in:hover{
    background-color: var(--red);
}

header .parts-of-header .btn-poh .sign-in{
    background-color: var(--soWhite);
    padding: 4px 10px;
    color: var(--black);
    margin-right: 10px;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
}

header .parts-of-header .btn-poh .sign-in:hover{
    background-color: var(--white);
}

.ad-bars{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.ad-item {
    margin: 0 10px;
}

.ad-item img{
    border-radius: 5px;
    width: 433px;
    aspect-ratio: auto 435/95;
    height: 95px;
    object-fit: cover;
}

main{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 0 15px;
    justify-content: center;
    align-items: flex-start;
}

/* left content */
main .left-content{
    padding: 10px;
    background-color: var(--soGray);
    float: left;
    border-radius: 3px;
    margin-right: 12.5px;
}

.l-items{
    position: relative;
}

.l-items img{
    display: block;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.l-items a{
    background-color: #fd0c0c73;
    color: var(--white) !important;
    position: absolute;
    width: 100%;
    font-size: 15px;
    margin: 0;
    bottom: 30px;
    text-align: right;
    padding: 2.5%;
}

.l-items p{
    display: block;
    position: absolute;
    background-color: var(--NOTsoGray);
    margin: 0;
    bottom: 0;
    font-size: 11px;
    padding: 7px;
    width: -webkit-fill-available;
    color: var(--white);
}

/* right content */
main .right-content{
    background-color: var(--soGray);
    float: right;
    border-radius: 3px;
    margin-left: 12.5px;
}

.top-red-bar{
    background-color: var(--red);
    width: 540px;
    padding: 8px 10px;
    border-radius: 3px 3px 0 0 ;
}

.top-red-bar a{
    color: var(--soWhite) !important;
}

.r-items{
    position: relative;
    max-width: 540px;
    padding: 15px;
    border-bottom:1px dashed #292929;
}

.r-items img{
    width: 100px;
    height: 100px;
    margin: 0 0 0 10px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.rc-info{
    display: inline-block;
    position: absolute;
    width: max-content;
    max-width: 435px;
    top: 40px;
}

.rc-info span{
    cursor: pointer;
    margin-left: 4px;
    font-weight: normal;
    color: var(--red);
    outline: var(--soWhite);
}

.rc-info a{
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--soWhite) !important;
    cursor: pointer;
    transition: 0.1s;
}
.rc-info a:hover{
    color: var(--red) !important;
}


.rc-info p{
    font-size: 10px;
    margin-top: 8px;
    color: var(--white);
}

.bottom-bar{
    display: flex;
    justify-content: center;
    border-radius: 0 0 3px 3px;
    margin: 0;
    text-align: center;
    padding: 20px 10px;
}

.bottom-bar a{
    border: 1px solid var(--silver) !important;
    padding: 6px 10px;
    background-color: var(--soGray) !important;
    color: var(--soWhite) !important;
    font-size: 10px;
}

.bottom-bar a:hover{
    background-color: var(--gray) !important;
    cursor: pointer;
}

footer .links{
    background-color: var(--soGray);
    margin-top: 20px;
    display: flex;
    width: 100%;
    padding: 4px;
    font-size: 14px;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
}

footer .links .text-link a{
    margin: 0 20px;
    text-decoration: none;
    color: var(--silver);
    transition: color 0.2s;
}

footer .links .text-link a:hover{
    color: var(--white);
}

footer .links .icon-link ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    position: relative;
}

.instagram span{transition: 0.2s;}
.instagram span:hover{color: var(--instagramPurple);}
.telegram span{transition: 0.2s;}
.telegram span:hover{color: var(--telegramBlue);}
.twitter span{transition: 0.2s;}
.twitter span:hover{color: var(--twitterBlue);}

footer .links .icon-link a{
    margin: 0 10px;
    color: var(--silver);
}

footer .links .icon-link .hover-text{
    background: url(#);
    color: var(--black);
    display: none;
    position: absolute;
    top: -50px;
    left: 60px;
}

footer .copyRight{
    background-color: var(--silver);
    padding: 10px;
    display: block;
    font-size: 14px;
    text-align: center;
    color: var(--black);
}

footer .copyRight span{
    margin: 0 10px;
}

